# LLM
OPENAI_API_KEY=
EMBEDDING_MODEL=
OPENAI_CHAT_MODEL=

# Tracing
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_TRACING_V2=

# Deployment
GCP_PROJECT_ID=
GCP_REGION=us-central-1
GCP_BUCKET_NAME=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# DataSource
CLINICAL_TRIALS_BASE_URL=
CLINICAL_TRIALS_PAGE_SIZE=
PUBMED_BASE_URL=

# Server
API_HOST=0.0.0.0
API_PORT=8000
API_ENV=development