# Backend Server
python-dotenv
pydantic
pydantic-settings
fastapi
uvicorn[standard]
httpx
python-multipart

# Agentic Framework
langgraph
langchain
langchain-openai
langchain-community
langmem

# LLM
openai

# GCP
google-cloud-storage
google-cloud-secret-manager

# Async
asyncpg
sqlalchemy[asyncio]

# PostgresSQL
pgvector
psycopg2-binary

# Test
pytest
pytest-asyncio

# Logging | Tracing
tenacity
langsmith
structlog